<div class="d-flex flex-column align-items-center justify-content-center p-5">
	<% if @inventories.empty? %>
		<h3> You have no inventory </h3>	
	<% else %>
		<h3>Your inventories list</h3>
	<%= link_to 'Add new inventory', new_user_inventory_path, class: 'btn btn-primary mb-2' %>	
		<% @inventories.each do |inventory| %>
		
		<div class="d-flex flex-row bd-highlight mb-3 align-items-center w-50 border border-dark p-2">
			<div class="p-2 bd-highlight">
				<h4 class="me-3">
					<%= link_to inventory.name, user_inventory_path(inventory.user_id, inventory) %>
				</h4>
				<% if can? :destroy, inventory %>
					<%= link_to 'Delete', user_inventory_path(inventory.user_id, inventory), method: :delete, class: '' %>
				<% end %>
			</div>
			<div class="p-2 bd-highlight">Desctiption</div>
		</div>		
				
		<% end %>
	<% end %>
</div>