<div class="d-flex flex-column align-items-center justify-content-center p-5" >
    <% if @public_recipes.empty? %>
        <h3> There are no public recipes! </h3>
    <% else %>
        <h3>Public Recipes</h3>
        <% @public_recipes.each do |recipe| %>
        <% if recipe.public %>        
            <div class="d-flex flex-row bd-highlight mb-3 border border-dark p-2 w-75">
                <div class='p-2 bd-highlight'>
                    <h4><%= link_to recipe.name, user_recipe_path(recipe.user_id, recipe) %></h4>
                    <p>By <%= recipe.user.email %></p>
                </div>
                <div class='p-2 bd-highlight'>
                    <p>Total food items:</p>
                    <p>Total price:</p>
                </div>
            </div>
            <% end %>
        <% end %>
    <% end %>
</div>

