<div class="users-container">
    <h1 class="users-heading">Users Count <%= @users.length%></h1>
    <% @users.each do |user| %>
        
        <div class="user-box">
            <div class="user-info-box">
                <h2 class="user-name"><%= user.name %></h2>
            </div>
        </div>
        <% end%>
    
</div>