<div class="users-container">
    
<h1>Hello welcome to our App</h1>

    <% if current_user %>
           <% else %>
        <p>      
            <%= link_to "Sign In", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>
        </p>

    <% end %>
    
        <div class="user-box">