<table class="table">

  <thead class="thead-dark">
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Measurement_unit</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food| %>
    <tr>
      <th scope="row"><%= food.name %></th>
      <td><%= food.measurement_unit %></td>
      <td><%= food.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>